section.works.section
	.container
		h2.section__heading Our works
		p.section__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus omnis molestias error eligendi distinctio optio soluta nisi nostrum, consectetur mollitia nihil obcaecati ipsa a eaque ab ratione nulla repudiandae voluptates?
	ul.works__container
		li.works__item.works__item--vertical-flip.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/1.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text
		li.works__item.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/2.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.works__item--vertical-flip.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/3.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/4.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.works__item--vertical-flip.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/5.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/6.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.works__item--vertical-flip.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/7.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
		li.works__item.js-flip
			.works__item_front
				img(src="assets/images/PAGES/index/works/8.webp", alt="Random text")
				+svg('touch')
			.works__item_back
				p.works__item_description Some text 
	.container 
		.button-wrapper
			a(href="/").button.button--transparent See more
