.footer{
	background-color: $violet-2;

	&__block + &__block {
		margin-top: 10px;
	}

	&__wrapper {
		padding: 20px 0;
		text-align: center;
		color: $beige;
	}

	&__link {
		display: inline-block;
		margin-left: 10px;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #83078A;
		@include transition(color);

		@include hover() {
			color: $pinky;
		}
	}
}
