footer.footer
	.container
		.footer__wrapper
			p.footer__block
				span.footer__text 2020 © Copyrights 
				a(href="/").footer__link Freetime
			p.footer__block
				a(href="/").footer__link Flaticon.com &#128293;
