section.about.section
	.container.container--small
		h2.section__heading About us
		p.section__description Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat laudantium commodi atque obcaecati perspiciatis, iusto error repellat incidunt optio est iste iure eaque quis assumenda corrupti eum aliquam doloremque. Recusandae.
		.about__inner
			.swiper-container.about__slider.js-about-swiper
				.about__slider_wrapper.swiper-wrapper
					.about__slider_item.swiper-slide.blur-image
						.blur-image__wrapper
							.about__slider_bg(style="background-image: url('assets/images/PAGES/index/about-slider/1.jpg')")
							img.about__slider_img(src="assets/images/PAGES/index/about-slider/1.jpg" alt="Random text")
						span.about__slider_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni dolore quibusdam quaerat! Aut officiis ut, necessitatibus voluptate qui reprehenderit placeat. Fugit dolor blanditiis, nisi corporis deleniti reprehenderit asperiores aperiam! Voluptate.
					.about__slider_item.swiper-slide.blur-image
						.blur-image__wrapper
							.about__slider_bg(style="background-image: url('assets/images/PAGES/index/about-slider/2.jpg')")
							img.about__slider_img(src="assets/images/PAGES/index/about-slider/2.jpg" alt="Random text")
						span.about__slider_description Lorem ipsum dolor sit amet, elit. Laborum, cumque ducimus vitae nobis fugiat, quos qui quaerat ipsam perferendis tenetur doloremque consectetur repellat quia accusamus expedita necessitatibus nostrum repellendus facilis.
					.about__slider_item.swiper-slide.blur-image
						.blur-image__wrapper
							.about__slider_bg(style="background-image: url('assets/images/PAGES/index/about-slider/3.jpg')")
							img.about__slider_img(src="assets/images/PAGES/index/about-slider/3.jpg" alt="Random text")
						span.about__slider_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente natus quae necessitatibus et aliquid recusandae, assumenda esse molestias debitis illo nobis porro quas, laboriosam perferendis? Saepe incidunt optio amet.
					.about__slider_item.swiper-slide.blur-image
						.blur-image__wrapper
							.about__slider_bg(style="background-image: url('assets/images/PAGES/index/about-slider/4.jpg')")
							img.about__slider_img(src="assets/images/PAGES/index/about-slider/4.jpg" alt="Random text")
						span.about__slider_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente natus quae necessitatibus et aliquid recusandae, assumenda esse molestias debitis illo nobis porro quas, laboriosam perferendis? Saepe incidunt optio amet.
					.about__slider_item.swiper-slide.blur-image
						.blur-image__wrapper
							.about__slider_bg(style="background-image: url('assets/images/PAGES/index/about-slider/5.jpg')")
							img.about__slider_img(src="assets/images/PAGES/index/about-slider/5.jpg" alt="Random text")
						span.about__slider_description Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente natus quae necessitatibus et aliquid recusandae, assumenda esse molestias debitis illo nobis porro quas, laboriosam perferendis? Saepe incidunt optio amet.
				.swiper-pagination.about__slider_pagination
				.swiper-prev
					+svg('arrow')
				.swiper-next
					+svg('arrow')
