/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
}

.arrow {
	width:(512/512)*1em;
	height:1em;
}
.diamond {
	width:(42/39)*1em;
	height:1em;
}
.eye {
	width:(512/512)*1em;
	height:1em;
}
.logo {
	width:(512/512)*1em;
	height:1em;
}
.success {
	width:(512/512)*1em;
	height:1em;
}
.touch {
	width:(512/512)*1em;
	height:1em;
}
