///
// Vars
///
// Container break-points
$grid-breakpoints: (
	min: 0px,
	mobile: 320px,
	mobile-max: 375px,
	tablet: 768px,
	tablet-max: 1024px,
	desktop: 1280px
);

// Colors

$violet-1: #705096;
$violet-2: #1B0C30;
$violet-3: #BAA6E3;
$violet-4: #826BA9;

$beige: #E3D5FF;
$pinky: #F33C7A;
