section.customers.section
	.container.container--small
		h2.section__heading Customers about us
		p.section__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, dolorem maxime. Laudantium ipsum accusantium similique modi quos neque illo tempora possimus error, saepe cumque maxime ex reiciendis tenetur, doloremque nihil!
		.customers__feedback
			.swiper-container.customers__slider.js-customers-slider
				.swiper-wrapper.customers__slider_wrapper
					.swiper-slide.customers__slider_item
						p.customers__feedback_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi incidunt asperiores unde veniam? Vero libero fugiat consequatur nam eaque obcaecati eos voluptatem minima, perferendis voluptas ipsum excepturi provident placeat alias!
						.customers__feedback_author Joshua Johnson
					.swiper-slide.customers__slider_item
						p.customers__feedback_text I can see all the doors, and what's behind all the doors. And behind one of them, incredibly, I see him.
						.customers__feedback_author Elizabeth
					.swiper-slide.customers__slider_item
						p.customers__feedback_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi incidunt asperiores unde veniam? Vero libero fugiat consequatur nam eaque obcaecati eos voluptatem minima, perferendis voluptas ipsum excepturi provident placeat alias!
						.customers__feedback_author Joshua Johnson
					.swiper-slide.customers__slider_item
						p.customers__feedback_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi incidunt asperiores unde veniam? Vero libero fugiat consequatur nam eaque obcaecati eos voluptatem minima, perferendis voluptas ipsum excepturi provident placeat alias!
						.customers__feedback_author Joshua Johnson
					.swiper-slide.customers__slider_item
						p.customers__feedback_text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi incidunt asperiores unde veniam? Vero libero fugiat consequatur nam eaque obcaecati eos voluptatem minima, perferendis voluptas ipsum excepturi provident placeat alias!
						.customers__feedback_author Joshua Johnson
				.swiper-pagination.customers__pagination
				.swiper-prev.customers__prev
					+svg('arrow')
				.swiper-next.customers__next
					+svg('arrow')
			