.allow-cookies
	.container
		.allow-cookies__wrapper
			p.allow-cookies__text This site requires cookies for better work and best expirience you'll gain from using it.
			button.button.button--pink.js-accept-cookies I agree
