section.process.section.parallax-image(style="background-image: url('assets/images/PAGES/index/process.png')")
	.container.container--small
		h2.section__heading Our work process
		p.section__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio neque deserunt repellendus quas. Rem distinctio repellendus molestiae nihil, perferendis delectus animi eligendi iste tempore, necessitatibus, recusandae debitis assumenda temporibus accusantium?
		ul.process__list
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title Frontend
					p.process__item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				+svg('diamond')
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title Backend
					p.process__item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium eveniet pariatur neque ex. Enim architecto nesciunt delectus, voluptate quidem totam ab a assumenda fugit quod dicta neque voluptates, adipisci eveniet!
				+svg('diamond')
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title QA
					p.process__item_text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea totam, minima ex tempora iusto aliquam ipsa ducimus consectetur rerum deleniti sequi aperiam libero obcaecati mollitia, amet dignissimos. Accusamus, eaque quae.
				+svg('diamond')
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title UI/UX
					p.process__item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				+svg('diamond')
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title Design
					p.process__item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				+svg('diamond')
			li.process__list_item.process__item
				.process__item_content
					span.process__item_title Coffee
					p.process__item_text Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				+svg('diamond')
