section.skills.section
	.container.container--small
		h2.section__heading Our skills
		p.section__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat atque culpa in!
		ul.skills__stats
			li.skills__stats_el
				.rounded-bg
					span.skills__stats_num 7
				span.skills__stats_text 7 years on Business
			li.skills__stats_el
				.rounded-bg
					span.skills__stats_num 10
				span.skills__stats_text Top 10 on Web
			li.skills__stats_el
				.rounded-bg
					span.skills__stats_num 250
				span.skills__stats_text Projects Completed
			li.skills__stats_el
				.rounded-bg
					span.skills__stats_num 98%
				span.skills__stats_text Happy clients
		
