section.intro
	.container.container--small
		.intro__wrapper
			h1.intro__heading 
				span.intro__heading_el We're theme
				span.intro__heading_el.intro__heading_el--bold Creative & Digital
				span.intro__heading_el.intro__heading_el--bold.intro__heading_el--pink Agency
			p.intro__subtitle Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus esse ratione distinctio velit repellendus. Est error optio consequatur enim fuga. Distinctio velit blanditiis consectetur in! Debitis, ad minima. Ad?
			a(href="/").button.button--pink Read more
